<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.com" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Zadania - aktywne</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="/">MagazynManagement</a>
        <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="/kierowca">Home</a>
                </li>
            </ul>
            <div sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link text-light" th:href="@{/admin}">Panel administratora</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a class="nav-link text-light" th:href="@{/logout}">Wyloguj się</a>
            </div>
            <div sec:authorize="isAnonymous()">
                <a class="nav-link text-light" th:href="@{/login}">Zaloguj</a>
            </div>
        </div>
    </div>
</nav>

<div class="container my-5">
    <h4 class="text-center">Zadania</h4>
    <table class="table table-stiped table-hover" th:if="${zadania[0].typ != 'brakWartosci' && zadania[0].typ != 'bladPob'}">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Typ</th>
            <th scope="col">Adres</th>
            <th scope="col">Status</th>
            <th colspan="2" style="text-align: center">Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="z :${zadania}">
            <!--<th scope="row">1</th>-->
            <td th:text="${z.idDostawy}"></td>
            <td th:text="${z.typ}"></td>
            <td th:text="${z.adres}"></td>
            <td th:text="${z.status}"></td>
            <td style="text-align: center;">
                <a class="nav-link " style="color: blue" th:href="@{/kierowca/zadanie-nieaktywne(idDostawy=${z.idDostawy},typ=${z.typ})}">Szczegóły</a>
            </td>
        </tr>

        </tbody>
    </table>
    <p style="text-align: center;" th:if="${zadania[0].typ == 'brakWartosci'}">Brak nieaktywnych zadań do wyświetlenia</p>
    <p style="text-align: center;" th:if="${zadania[0].typ == 'bladPob'}">Błąd przy próbie pobrania danych</p>
</div>

</body>
</html>