<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.com" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>

    </style>

    <title>Dodaj nowe zadanie</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="/">MagazynManagement</a>
        <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="/placowki">Nasze placówki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="/produkty">Produkty</a>
                </li>
            </ul>
            <div sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link text-light" th:href="@{/admin}">Panel administratora</a>
            </div>
            <div sec:authorize="hasAuthority('USER')">
                <a class="nav-link text-light" th:href="@{/user}">Panel klienta</a>
            </div>
            <div sec:authorize="hasAuthority('MANAGER')">
                <a class="nav-link text-light" th:href="@{/manager}">Panel managera</a>
            </div>
            <div sec:authorize="hasAuthority('PRACOWNIK')">
                <a class="nav-link text-light" th:href="@{/pracownik}">Panel pracownika</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a class="nav-link text-light" th:href="@{/logout}">Wyloguj się</a>
            </div>
            <div sec:authorize="isAnonymous()">
                <a class="nav-link text-light" th:href="@{/login}">Zaloguj</a>
            </div>
        </div>
    </div>
</nav>

<div style="text-align: center; margin: 0 auto; width: 50%; margin-top: 2%">
    <h4 class="text-center">Dodaj nowe zadanie</h4>
    <table style="text-align: center; margin-top: 2%;">
        <thead>
        <tr>
            <th scope="col">Pracownik</th>
            <th scope="col">Opis</th>
        </tr>
        </thead>
        <tbody style="margin-top: 2%;">
        <form action="/manager/dodajZadanie" method="post">
            <tr>
                <td style="width: 25%">
                    <select id="id_pracownika" required name="id_pracownika" style="margin: 0 auto;">
                        <option th:each="p :${pracownicy}" th:value="${p.idUzytkownika}" th:text="${p.idUzytkownika + ' - ' + p.imie + ' '+ p.nazwisko}"></option>
                    </select>
                </td>
                <td style="width: 75%">
                    <textarea id="opis" name="opis" style="margin: 0 auto; width: 75%"></textarea>
                    <input hidden th:value="${manager.getId()}" name="id_kierownika" id="id_kierownika">
                </td>
            </tr><hr>
            <tr><td colspan="2"><input type="submit" value="Dodaj" style="margin-top: 2%;"></td></tr>
        </form>
        </tbody>
    </table>
    <p th:if=${dodano} style="margin: 0 auto; color: green; text-align: center; margin-top: 2%;">Pomyślnie dodano zadanie!</p>
</div>

</body>
</html>